/* ======= normalize ========= */
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* background: url(../images/5.png); */
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  text-decoration: none;
}




/* ======== styling for form section -=========== */
.contact-form{
  /* background-image: linear-gradient(145deg, rgba(10, 200, 0), rgba(0, 0, 0)); */
  border-radius: 20px;
  display: flex;
  margin: 100px 20px 100px 20px;
  flex-wrap: nowrap;
  border: 5px solid #ddd;
}

.contact-aside{
  margin: 50px;
  border-right: 2px solid #333;
  padding-right: 20px;
}


form{
  display: block;
}

label{
  display: block;
  padding: 5px;
}

input{
  padding: 10px 50px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

textarea{
  border: 2px solid #ddd;
  border-radius: 5px;
}




/* ======= styling for contact bside section ====== */
.contact-bside{
  margin: 50px;
}
