/*css syntax */
body,
div,
section,
article,
sidebar,
nav,
footer {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header img {
  border-radius: 100%;
  width: 10%;
  height: 10%;
}

header nav {
  background: black;
  padding: 5px;
}

header ul li {
  display: inline;
}

header ul li a {
  margin-right: 40px;
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: green;
  font-size: 20px;
}

header ul li a:visited {
  color: orange;
  font-size: 20px;
}

/* Updated */
#search {
    /* display: flex; */
    margin-bottom: 5px;
}

#searchInput {
    /* float: right; */
    padding: 7px;
    border-radius: 100px;
    margin-left: 1000px;
    padding: 7px;
    border: 1px solid #000;
    margin-bottom: 30px;
}

#menu li{
  list-style: none;
  line-height: 30px;
}

sidebar {
  border: 1px solid #000;
  /* color: orange; */
  font-size: 18px;
  width: 20%;
  margin: 2%;
  background: darkgrey;
}

sidebar h2{
  margin-left: 35px;
}

.span:before{
  content: '(';
}
.span:after{
  content: ')';
}

#menu li {
    list-style: none;
    margin-bottom: 5px;
    line-height: 30px;
}

#menu li a{
  text-decoration: none;
   color: black;
}

#menu li a:hover{
  text-decoration: none;
   color: green;
}

/* ====== Add the main section id and article ======= */
#main-section{
  display: flex;
}

article{
  border: 1px solid #000;
  width: 70%;
  margin: 2%;
}




