/* html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 51, 73, 0.3),
      rgba(244, 92, 67, 0.3)
    ),
    url(img/wine.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow: hidden;
  font-family: "Open Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  height: 71px;
}

header div {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

header img {
  margin-right: auto;
  margin-top: 5px;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

ul:hover li {
  opacity: 0.2;
  filter: blur(2px);
}

li {
  padding: 15px;
  line-height: 1;
  display: flex;
  justify-content: center; 
  transition: all 0.5s;
}

ul li:hover {
  opacity: 1;
  filter: blur(0);
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #f4f4f4;
  text-transform: capitalize;
  outline: none;
}

header .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  margin: 0 auto;
  border: 0;
  width: 95%;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
} */






#header-div {
  display: flex;
}




























