.container

html, body {
    background: #ffeead;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}
.container > div:nth-child(2) {
    background-color: #ff6f69;
}

.container > div:nth-child(3) {
    background-color: #88d8b0;
}

.container {
    display: flex;
}

